* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f7fa;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.container {
  max-width: 600px;
  margin-top: 50px;
}

#sensorData {
  height: 150px;
  resize: none;
  overflow-y: scroll;
  font-size: 16px;
}

#startMonitoramento {
  padding: 12px 30px;
  font-size: 18px;
  color: white;
  background-color: #591caa;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#startMonitoramento:hover {
  background-color: #591caa;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #591caa;
  color: white;
}
